.navbarBackground {
  width: 100%;
  padding: 24px 0px;
  background-color: #5361e4;
}
.container {
  max-width: 1280px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.navbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.logo a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-weight: bolder;
}
.nav {
  display: flex;
  align-items: center;
}
.nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  list-style: none;
}
.nav ul li a {
  border-bottom: 2px solid red;
  padding-bottom: 10px;
  text-decoration: none;
  color: var(--White, #fff);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.nav ul li a {
  border: 2px solid;
  padding: 5px 7px;
  border-image: repeating-linear-gradient(135deg, white 0 10px) 8;
  -webkit-mask: conic-gradient(
        from 180deg at top 8px right 8px,
        #0000 90deg,
        #000 0
      )
      var(--_i, 200%) 0 /200% var(--_i, 8px) border-box no-repeat,
    conic-gradient(at bottom 8px left 8px, #0000 90deg, #000 0) 0
      var(--_i, 200%) / var(--_i, 8px) 200% border-box no-repeat,
    linear-gradient(#000 0 0) padding-box no-repeat;
  transition: 0.5s, -webkit-mask-position 0.5s 0.5s;
}
.nav ul li a:hover {
  --_i: 100%;

  transition: 0.5s, -webkit-mask-size 0.5s 0.5s;
}
.navbarSelect {
  background-color: transparent;
  padding: 3px 5px;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  font-size: 19px;
}
.navbarSelect option {
  background-color: white;
  color: black;
}
.buttonAndSelect {
  display: flex;
  outline-color: none;
  align-items: center;
  gap: 40px;
}

.navbarButton {
  color: var(--Main, #5361e4);
  font-family: "Circular Std";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 8px 24px;
  border-radius: 12px;
  border:2px solid white;
  background:transparent;
  transition: all 0.5s linear;
  cursor: pointer;
  color:white;


}
.navbarButton:hover{
    background-color:white;
    color:#5361e4;

}
